<%- include("partials/header") -%>

<h1>Contact</h1>

<ul>
    <li>A passionate Self-taught developer</li>
    <li>Currently learning Web Development by Self</li>
    <li>I am currently open for an Intern or a new job opportunity, this is <a href="https://drive.google.com/file/d/1BUF2aueX7TnKgtECJbU32TQ0k1nyBKz9/view?usp=drivesdk">My Resume</a></li>
    <li>How to reach me <a mailto="patelarjun526@gmail.com">patelarjun526@gmail.com</a></li>
</ul>

<br>
<br>
<p align="center">
<a href="https://twitter.com/__arjunpatel" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="_arjunpatel" height="30" width="40" /></a>
<a href="https://linkedin.com/in/arjun-patel-0558b6183" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="arjun-patel-0558b6183" height="30" width="40" /></a>
<a href="https://fb.com/arjunpatel.005" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="arjunpatel.005" height="30" width="40" /></a>
<a href="https://instagram.com/_.arjunpatel" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="_.arjunpatel" height="30" width="40" /></a>
<a href="https://www.leetcode.com/arjunpatel007" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/leet-code.svg" alt="arjunpatel007" height="30" width="40" /></a>
</p>
<%- include("partials/footer") -%>